<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            {% if page.author_avatar %}
                <img src="{{ site.baseurl }}/img/{{ page.author_avatar }}.jpg" class="user-icon " alt="user-image">
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="category-list">
                <p>Published <span>{{ page.date | date: "%b %-d, %Y" }}</span></p>
                <p>
                    {% if page.author_name %}
                        {% include author.html avatar=page.author_avatar name=page.author_name url=page.author_url %}
                    {% else %}
                        {% if page.author_names %}
                            {% for author_name in page.author_names %}
                                {% include author.html name=author_name %}
                                {% if forloop.last == false %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    in <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories.first | capitalize | replace: "-", " " }}</a>
                </p>

                <div class="other-catergories">
                    <h3>Also found in</h3>

                    <ul>
                        {% for category in page.categories %}
                        <li>
                            <a href='{{ "/category/" | append: category | prepend: site.baseurl }}'>{{ category | capitalize | replace: "-", " " }}</a>
                            {% if forloop.last %}{% else %},{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div><!-- end col -->
        <div class="col-xs-12 col-sm-4">
            <div class="social">
                <p>Share this article</p>
                <div class="social-links">
                    <a class="social-icon" href="#" data-platform="twitter" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-twitter"></i></a>

                    <a class="social-icon" href="#" data-platform="facebook" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-facebook-official"></i></a>
                    <a class="social-icon" data-platform="mail"  href="mailto:{{ site.email }}?body={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div>
