<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <img src='{{"/img/hc-labs-logo" | prepend: site.baseurl }}.svg' alt="HC labs" class='site-logo animated fadeInDown'>

    <div class="site-info">
        <div class="primary-info">
            <h1 class="title">
                Tech Blog
            </h1>
        </div>
        <div class="secondary-info"></div>
    </div>
</section><!-- end sidebar -->
