img.sizeup-onhover-image
  transition: 1s ease

  &.scale2:hover
    transform: scale(2)
  &.scale3:hover
    transform: scale(3)
  &.scale4:hover
    transform: scale(4)
  &.origin-left-top:hover
    transform-origin: left top
  &.origin-right-top:hover
    transform-origin: right top
