// vendor
@import "vendor/bootstrap.min"
@import "vendor/font-awesome.min"

@import "mixins"
@import "type"
@import "animate"
@import "syntax-highlighting"
@import "partials/bootstrap-components"

// includes
@import "partials/shared"
@import "partials/menu"
@import "partials/sidebar"

// pages
@import "partials/main-content"
@import "partials/single"
@import "partials/favorites"
@import "partials/category"
@import "partials/contact"
@import "partials/author"
@import "partials/page-404"
@import "partials/post-content"

@import "nojs"

+breakpoint(lg)
    .container
        width: 80%

.left-container
    padding-left: 0

    +breakpoint(only-sm)
        max-width: 100%
        width: 100%


.no-gutter
    padding-left: 0
    padding-right: 0

.no-gutter-left
    padding-left: 0

.no-gutter-right
    padding-right: 0

html,
body
    +breakpoint(md)
        height: 100%

.hide
    position: absolute !important
    top: -9999px !important
    left: -9999px !important

img
    max-width: 100%

img.feature-image
    margin-top: 20px
    margin-bottom: 20px

img.centered
    display: block
    margin: 0 auto

main
    display: block


a
    color: $text-color
    text-decoration: none
    background-image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%)
    background-repeat: repeat-x
    background-size: 2px .2em
    background-position: 0 1.07em

    &:hover,
    &:active,
    &:focus
        text-decoration: none
        color: $text-color
        background-image: linear-gradient(to bottom,$hc-yellow 50%,rgba(0,0,0,0) 50%)
