---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Events</a>
</div>

<div class="home-page-posts animated fadeIn ">
  {% assign events = site.data.events | sort: "start_datetime" %}
  {% for event in events reversed %}
    <p>
      {% if event.end_datetime %}
        {{ event.start_datetime | date_to_string }} - {{ event.end_datetime | date_to_string }}
      {% else %}
        {{ event.start_datetime | date_to_string }} {{ event.start_datetime | date: "%H:%M" }}
      {% endif %}

      {% assign location_lowercase = event.location | downcase %}
      {% if location_lowercase contains "holidaycheck" %}
        <img src='{{"/img/hc-labs-only-logo" | prepend: site.baseurl }}.svg' height="20" alt="HC labs"
             title="took place in a HolidayCheck location"
        >
      {% endif %}

      {% assign tags = event.tags | split: "," %}
      {% for tag in tags %}
        <mark>{{tag}}</mark> &nbsp;
      {% endfor %}
      <br/>

      <a href="{{ event.url }}">{{ event.name }}</a><br />

    </p>
  {% endfor %}
</div>
