---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Categories</a>
</div>

<div class="home-page-posts animated fadeIn" itemprop="blogPosts">
    {% for post in site.posts %}

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a itemprop="mainEntityOfPage url" href="{{ post.url | prepend: site.baseurl }}"><span itemprop="name">{{ post.title }}</span></a></h2>

            {% include excerpt.html %}

            <p class="meta">
                <span itemprop="image" content='{{"/img/" | append: post.feature_image | prepend: site.baseurl | prepend: site.url }}'></span>
                <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                    <span itemprop="name" content="@HolidayCheckLab"></span>
                    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                        <span itemprop="url" content="{{ '/img/hc-labs-only-logo256x256.png' | prepend: site.baseurl | prepend: site.url }}"></span>
                    </span>
                </span>
                <span itemprop="headline" content="{{ post.excerpt | strip_html | strip_newlines | truncate: 110 }}"></span>
                {% if post.author_name %}
                    {% include author.html avatar=post.author_avatar name=post.author_name url=post.author_url %}
                {% else %}
                    {% if post.author_names %}
                        {% for author in post.author_names %}
                            <a href="mailto:{{ site.data.authors[author].email }}">{{  site.data.authors[author].name }}</a>
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="name" content="{{ site.data.authors[author].name }}"></span>
                            </span>
                            {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}

                in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize | replace: "-", " " }}</a>
                <i class="link-spacer"></i>
                {{ post.read_time }} minutes read
                <i class="link-spacer"></i>
                <time dateTime='{{ post.date | date: "%d-%m-%Y" }}' itemprop="datePublished dateModified">{{ post.date | date: "%B %-d, %Y" }}</time>
            </p>
        </div>


        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}
    </article>
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first | capitalize | replace: "-", " " }}</h2>
                    <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "/img/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image"></a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
